<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd"
	default-lazy-init="true">


	<context:component-scan base-package="p.minn.security.service,p.minn.security.cas,p.minn.config" />
	<sec:http pattern="/imgu**" security="none">
	</sec:http>
	<sec:http pattern="/swf**" security="none">
	</sec:http>
	<sec:http pattern="/locale**" security="none">
	</sec:http>
	<sec:http pattern="/frontpic**" security="none">
	</sec:http>
	<sec:http pattern="/download/**" security="none">
	</sec:http>
	<sec:http pattern="/accountTp?method=getLoginThirdParts**" security="none">
	</sec:http>
    <sec:http  disable-url-rewriting="true" use-expressions="true" auto-config="false" entry-point-ref="authEntryPoint" >   
     <sec:intercept-url pattern="j_spring_security_check" access="permitAll"/>
       <sec:custom-filter position="FORM_LOGIN_FILTER" ref="usernamePasswordAuthenticationFilter" />
       <sec:logout logout-success-url="/logoutHandler" />
       <sec:csrf disabled="true"/>
    </sec:http>

	<sec:authentication-manager alias="authenticationManager">
	  <sec:authentication-provider ref="myAuthenticationProvider"> 
	  </sec:authentication-provider>
	</sec:authentication-manager>
	 <bean id="authEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
       <constructor-arg value="/j_spring_security_check"/>
   </bean>
	<bean id="usernamePasswordAuthenticationFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
	   <property name="authenticationManager" ref="authenticationManager"/>
	   <property name="usernameParameter" value="username"/>
       <property name="passwordParameter" value="password"/>
       <property name="filterProcessesUrl" value="/j_spring_security_check" />
       <property name="authenticationSuccessHandler" ref="loginSuccessHandler" />
       <property name="authenticationDetailsSource" ref="authenticationDetailsSource"/>
	</bean>
	<bean id="authenticationDetailsSource" class="p.minn.security.cas.springsecurity.auth.MyAuthenticationDetailsSource">
   </bean>
	<bean id="loginSuccessHandler" class="p.minn.security.cas.springsecurity.auth.LoginSuccessHandler">
        <property name="defaultTargetUrl" value="login" />
   </bean>
</beans>